/************Reset**************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/************End Reset**************/
/************Global**************/
body {
  background: #fff;
  color: #736564;
  font: 120%/1.5 "Open Sans", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1em;
  letter-spacing: 0.05em;
  -webkit-text-size-adjust: 100%; }
  @media all and (min-width: 40em) {
    body {
      padding-left: 2em; } }


a {
  color: #8f8382;
  text-decoration: none;
  font-family: 'Alegreya', serif;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 0.9em;
}

a:hover, a:focus {
  color: #9fb088;
  text-decoration: none; }

p {
  margin: 0 0 1em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

img, object, video {
  max-width: 100%;
  border: 0; }

a img {
  border: 0;
  outline: 0; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 1.5em; 
  color: #f5c45e;
}

h2 {
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.1;
  margin: 0 0 0.4em;
  color: #736564;}

h3 {
  font-size: 1.8em;
  line-height: 1.1;
  margin: 0 0 0.2em;
  text-transform: lowercase;
  color: #736564;}

/************End Global**************/
/************Wrapper**************/
.wrap {
  max-width: 600px;
  margin: 0 auto;
}
/************Timeline**************/
/* Timeline Container */
.timeline {
  border-left: 3px solid #d8c6b0;
  padding-bottom: 3em;
  position: relative; }
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.7em;
    width: 18px;
    height: 15px;
    border-radius: 0px;
    background: #d8c6b0;
    border: 3px solid #d8c6b0 }

/* Individual Timeline Item */
.tl-node {
  padding-left: 1.5em;
  margin-bottom: 3em;
  position: relative; }
  .tl-node a {
    display: block; }
  .tl-node:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.7em;
  width: 18px;
  height: 15px;
  border-radius: 0px;
  background: #fff;
  border: 3px solid #d8c6b0; }
  .tl-content a {
    color: #222222; }

/* Timestamp */
.tl-stamp {
  margin-bottom: 0.3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6em;
  color: #736564;
  letter-spacing: 0;
  font-weight: 400;}

/************End Timeline**************/
